/* style.module.scss */

.cardContainer {
    perspective: 1000px;
    width: 80vw;
    max-width: 320px;
    height: 65vh;
    max-height: 500px;
    // margin-top: 40px;
    // margin-top: 40px;
    margin-bottom: 20px;
    // padding-bottom: 10px;
    // border: 2px solid red;
    /* to account for top bar */
}

.card {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transform-origin: center;
    transition: transform 0.3s ease-out;
    /* Smooth transformation */
    border-radius: 16px;
    /* Slightly more rounded corners for a modern look */
    background: linear-gradient(135deg, #e3f2fd, #f8fdff);
    /* Subtle gradient background */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.08);
    /* Soft shadow for depth */
    // overflow: hidden;
    /* Ensures content stays within rounded corners */
    border: 1px solid rgba(200, 200, 200, 0.3);
    /* Softer border for a minimalistic feel */
    cursor: pointer;
    /* Retains clickable indication */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;


    /* Add hover effect */
}

.card:hover {
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15), 0 6px 12px rgba(0, 0, 0, 0.1);
}

.tapToView {
    position: absolute;
    // border: 2px solid red;
    bottom: 1rem;
    font-size: .8rem;

    .hr {
        width: 75%;
        height: 1px;
        border: none;
        border-radius: 1000px;
        background-color: #ddd;
    }
}



.flipped {
    transform: rotateY(180deg);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topBar {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 15px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    display: flex;
    justify-content: space-around;
    font-size: 1.2em;
    z-index: 1000;
}



.front {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
}

.back {
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
}

.word {
    font-size: 2rem;
    font-weight: bold;
}

.definition {
    font-size: 1.2rem;
    color: #333;
    padding: 1rem;

    margin-top: 10px;
}

.adContainer {
    margin: 20px 0;
    text-align: center;
}


/* Responsive Styles */
@media (max-width: 600px) {
    .cardContainer {
        width: 90vw;
        height: 60vh;
    }

    .word {
        font-size: 1.5em;
    }

    .definition {
        font-size: 0.9em;
    }
}